*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    height:70vh;
    background: url('./images/photo-1478760329108-5c3ed9d495a0.avif') center center/cover no-repeat;
}
.carousel-item{
    height:60vh; /* 60% screen height */
    min-height:400px;
    background-size:cover;
    background-position:center;
    position:relative;
}

.carousel-item::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
}

.carousel-caption{
    z-index:2;
    bottom:50%;
    transform:translateY(50%);
}

.carousel-caption h1{
    font-size:3rem;
    font-weight:700;
}

.carousel-caption p{
    font-size:1.2rem;
}
.project-card{
  border: none;
  transition: transform .3s ease, box-shadow .3s ease;
}

.project-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0,0,0,.2);
}

@media (max-width:992px){
    .carousel-item{
        height:75vh;
    }

    .carousel-caption h1{
        font-size:2rem;
    }

    .carousel-caption p{
        font-size:1rem;
    }
}
